In [25]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [26]:
pagina = requests.get('https://www.bea.gov/data/intl-trade-investment/international-trade-goods-and-services')

In [27]:
soup = BeautifulSoup(pagina.content, 'html.parser')

In [28]:
links = soup.find_all('a')

In [29]:
for link in links:
    if 'U.S. Trade in Goods and Services, 1960-present' in link.get_text():
        link_xls = 'https://www.bea.gov' + link.get('href')

In [30]:
#Aca se puede hacer un request get o traerlo directamente con pandas
df_bea = pd.read_excel(link_xls, engine='openpyxl', sheet_name=1, skiprows= 6, header = None)
df_bea

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,Period,NaN,Balance,NaN,NaN,Exports,NaN,NaN,Imports,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Total,Goods 1,Services,Total,Goods 1,Services,Total,Goods 1,Services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,3508,4892,-1385,25939,19650,6289,22433,14758,7675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1961,4194,5571,-1377,26403,20108,6295,22208,14537,7671,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Eliminamos las columnas con todos NaNs
df_bea.dropna(how='all', axis=1, inplace=True)
#Eliminamos las filas con todos NaNs
df_bea.dropna(how='all', axis=0, inplace=True)
df_bea.reset_index(drop=True, inplace=True)
df_bea

,0,1,2,3,4,5,6,7,8,9
0,Period,NaN,Balance,NaN,NaN,Exports,NaN,NaN,Imports,NaN
1,NaN,Total,Goods 1,Services,Total,Goods 1,Services,Total,Goods 1,Services
2,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,3508,4892,-1385,25939,19650,6289,22433,14758,7675
4,1961,4194,5571,-1377,26403,20108,6295,22208,14537,7671
...,...,...,...,...,...,...,...,...,...,...
421,www.bea.gov/international/detailed-trade-data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,For information on data sources and methodolog...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,www.bea.gov/data/intl-trade-investment/interna...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,BEA's full set of statistics for the U.S. inte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,www.bea.gov/data/economic-accounts/international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#No se puede completar la primera fila con un metodo automatico de fill de pandas, por lo que se completa iterando primero
for i in range(df_bea.shape[1]):
    if df_bea.iloc[1, i] == 'Goods 1':
        df_bea.iloc[0, i-1] = df_bea.iloc[0, i]
        df_bea.iloc[0, i + 1] = df_bea.iloc[0, i]
        
#Otra alternativa
# df_bea.iloc[0].fillna(method='bfill', limit=1, inplace=True)
# df_bea.iloc[0].fillna(method='ffill', limit=1, inplace=True)
df_bea

,0,1,2,3,4,5,6,7,8,9
0,Period,Balance,Balance,Balance,Exports,Exports,Exports,Imports,Imports,Imports
1,NaN,Total,Goods 1,Services,Total,Goods 1,Services,Total,Goods 1,Services
2,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,3508,4892,-1385,25939,19650,6289,22433,14758,7675
4,1961,4194,5571,-1377,26403,20108,6295,22208,14537,7671
...,...,...,...,...,...,...,...,...,...,...
421,www.bea.gov/international/detailed-trade-data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,For information on data sources and methodolog...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,www.bea.gov/data/intl-trade-investment/interna...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,BEA's full set of statistics for the U.S. inte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,www.bea.gov/data/economic-accounts/international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Renombramos las columnas y hacemos el drop de las 3 primeras filas
df_bea.columns = df_bea.iloc[0] + ' - ' + df_bea.iloc[1]
df_bea = df_bea.iloc[3:]
#Al eliminar filas, conviene resetear el indice
df_bea.reset_index(drop=True, inplace=True)

In [34]:
#Determino la fila en que comienzan los valores mensuales
first_row =df_bea[df_bea[df_bea.columns[0]] == 'Monthly'].index[0]

In [35]:
df_bea = df_bea.iloc[first_row+1:]

In [36]:
df_bea.rename(columns={df_bea.columns[0]:'Date'}, inplace=True)

In [37]:
#En el mes de mayo aparece la leyenda " (R)", por lo que la reemplazamos
df_bea['Date'] = df_bea['Date'].replace(' \(R\)', '', regex=True)
#En ciertas filas hay espacios al final, por lo que tambien los limpiamos
df_bea['Date'] = df_bea['Date'].str.strip()

In [38]:
df_bea.tail(10)

,Date,Balance - Total,Balance - Goods 1,Balance - Services,Exports - Total,Exports - Goods 1,Exports - Services,Imports - Total,Imports - Goods 1,Imports - Services
413,2021 Apr,-69071,-86873,17802,204704,145088,59615,273775,231961,41814
414,2021 May,-70994,-89132,18137,206468,145636,60832,277462,234768,42695
415,2021 Jun,-75749,-93174,17425,207672,145912,61760,283421,239086,44335
416,(R) Revised,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,1 Data are presented on a balance of payments ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
418,www.bea.gov/international/detailed-trade-data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,For information on data sources and methodolog...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,www.bea.gov/data/intl-trade-investment/interna...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,BEA's full set of statistics for the U.S. inte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,www.bea.gov/data/economic-accounts/international,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#Paso el formato a fecha
#El formato de fecha es 'YYYY (abbreviated) month name'
df_bea['Date'] = pd.to_datetime(df_bea['Date'], format= '%Y %b', errors='coerce')

In [40]:
df_bea.dropna(how='all', axis=0, inplace=True)

In [41]:
df_bea.set_index('Date', inplace=True)
df_bea['country'] = 'USA'
df_bea

,Balance - Total,Balance - Goods 1,Balance - Services,Exports - Total,Exports - Goods 1,Exports - Services,Imports - Total,Imports - Goods 1,Imports - Services,country
Date,,,,,,,,,,
1992-01-01,-2026,-6952,4926,50251,35498,14753,52277,42450,9827,USA
1992-02-01,-831,-5593,4762,51682,36854,14828,52513,42447,10066,USA
1992-03-01,-2641,-7355,4714,50294,35711,14583,52935,43066,9869,USA
1992-04-01,-3109,-8284,5175,50302,35439,14863,53411,43723,9688,USA
1992-05-01,-3919,-8720,4801,50044,35403,14641,53963,44123,9840,USA
...,...,...,...,...,...,...,...,...,...,...
2021-02-01,-70643,-89155,18513,188561,130436,58125,259203,219591,39612,USA
2021-03-01,-75025,-92859,17834,202669,143658,59011,277693,236516,41177,USA
2021-04-01,-69071,-86873,17802,204704,145088,59615,273775,231961,41814,USA
2021-05-01,-70994,-89132,18137,206468,145636,60832,277462,234768,42695,USA
2021-06-01,-75749,-93174,17425,207672,145912,61760,283421,239086,44335,USA

In [50]:
df_bea.to_csv('USA_International_Trade.csv')